.head{
    width: 100%;
    height: 200px;
    background-color: #282828;

}



.head_main{
    text-align: center;
    color: #ffffff;
    font-family: Algerian;
}

.head_main div:nth-child(1){
    width: 800px;
    font-size: 35px;
    border-bottom: #ffffff solid 3px;
}

.head_main div:nth-child(2){
    font-size: 14px;
}

