.head{
    background-color: #282828;
    border-bottom: rgba(0, 0, 0, 1) solid 2px;
    padding-bottom: 50px;
}


.head_main{
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}

.head_main div:nth-child(1){
    font-size: 3em;
    margin: 0 auto;
    width: 50%;
    padding: 20px 0;
    border-bottom: #ffffff double 3px;
    font-family: "Cambria Math";
}

.head_main div:nth-child(2){
    font-size: 1.3em;
    word-spacing: 30px;
    font-family: Cambria;
    padding: 10px 0;
}

