.index_main {
    overflow: hidden;
}

.phone_search {
    width: 95%;
    height: 30px;
    border: 1px #000000 solid;
    background: #ffffff;
    margin: 0px auto 15px;
    display: none;
}

.blog_list{
    float: left;
    width: 70%;
}

.blog_list>div {
    background: #ffffff;
    width: 100%;
    padding-bottom: 20px;
    border-radius: 15px;
    border:rgba(0, 0, 0, 0.12) solid 2px;
    margin:0px 0 20px;
    text-align: center;
}
.blog_list>div>div{
    width: 90%;
    margin: 0 auto;
}


.blog_title {
    border-bottom: #568497 double 4px;
    overflow: auto;

}
.blog_title h2 {
    padding: 15px 0;
    font-size: 24px;
    font-family: "Bookman Old Style";
}
.blog_title ul {
    padding-bottom: 15px;
}

.blog_title ul li {
    display: inline-block;
    padding: 0 3%;
    font-size: 16px;
    font-family: "Cambria Math";
}
.introduction{
    padding-top: 20px;
}

.introduction p {
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
}

.introduction img {
    float: right;
    width: 50%;
}

.introduction>div {
    width: 50px;
    padding: 10px;
    margin: 0 auto;
    background: #568497;
}

.classify {
    border-top: #568497 solid 3px;
    margin-top: 15px;
    padding: 20px 0;
    width: 100%;
    text-align: left;
}
.classify span{
    display: inline-block;
    padding: 5px 15px;
    border-radius: 10px;
    border: #000000 solid 1px;
    font-size: 14px;
    color: #ffffff;
}
.classify span:nth-child(1){
    background: slategray;
}
.classify span:nth-child(2){
    background: darkslategrey;
}

.right_side{
    background: #ffffff;
    float: right;
    width: 25%;
    height: 60px;
    border:rgba(0, 0, 0, 0.12) solid 2px;
}

@media all and (max-width: 950px){
    .right_side{
        visibility: hidden;
    }
    .blog_list{
        width: 100%;
    }
    .phone_search {
        display: block;
    }
}
@media all and (max-width: 500px){
    .introduction img {
        width: 100%;
    }

    /*.blog_title ul li {*/
    /*    display: block;*/
    /*    text-align: left;*/
    /*}*/

    .blog_list{
        width: 100%;
    }

}
